.section-three {
	background: url(../img/Sect_3/bg.jpg) no-repeat center;
	background-size: cover;
	color: $white;
	.section-top {
		@extend %section-subheader;
	}
	img {
		width: 100%;
	}
	
	.image-4 {
		@include marginTB(0.95em, 0.95em);
	}
	.btn {
		@extend %button;
		margin: 2.8em auto 3.75em auto;
		display: inline-block;
	}

	/* **************Media (tablet) ******************/
	@include tablet {
		img {
			
			margin: 0.95em auto 0 auto;
		}
	}

	/* **************Media (phone) ******************/
	@include phone {
		img {
			
			margin: 0.95em auto 0 auto;
		}
	}
}	