.section-two {
	background: url(../img/Sect_2/bg.jpg) no-repeat;
	background-size: cover;
	color: $brown;
	.left {
		margin-top: 6.2em;
		.yellow-bg {
			font: {
				size: 3.1em;
				weight: 800;
			}
			background-color: $yellow;
			@include paddingLR(0.5em, 1em);
			color: $white;
		}
	}
	.col-design {
		@include paddingTB(4.25em, 2.2em);
		img {
			margin: 0 auto 0.95em auto;
		}
		.header-design {
			font: {
				size: 1.5em;
				weight: 700;
			}
		}
		.text-design {
			font: {
				size: 0.95em;
				weight: 400;
			}
		}
	}
	.container-design {
		margin-bottom: 5.75em;
	}

	/* **************Media (tablet) ******************/
	@include tablet {
		.left {
			img {
				margin: 0 auto;
			}
			p {
				text-align: center;
			}
		}		
	}

	/* **************Media (phone) ******************/
	@include phone {
		.left {
			img {
				margin: 0 auto;
			}
			p {
				text-align: center;
			}
		}
		.col-design {
			.text-design {
				font-size: 1.2em;
			}
		}	
	}
}	

