body {
	font-family: sans-serif;
}

.red {
	font-size: 20px; 
	text-decoration: underline;
	color: #ff0000;
}

.black {
 	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1.9px;
}

p > span:second-child {
	line-height: 8;
	font-weight: bold; 
	letter-spacing: 1.7px;
	/* word-spacing: 5px; */
}

.italic {
	font-style: italic;
}

.blue {
	color: #0000ff;
	font-weight: bolder;
	
}

.big {
	text-align: center;
	text-transform: uppercase;
}

.line_through {
	text-decoration: line-through;
}

.green {
	font-size: 12px;
	line-height: 1.5;
	text-align: justify;
	color: #00804d;
}

img {
	width: 600px;
	margin-bottom: 20px;
}

p:last-child {
	text-align: center;
}
		