/* General styles */
div[class|="section"] {
	width: 100%;
}

div, p, li {
	box-sizing: border-box;
	margin: 0 auto;
}

.wrapper {
	width: 1170px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.small-text {
	font: 14px "Poppins-Regular";
}

.smaller-text {
	font: 12px "Poppins-Regular";
}

.big-text {
	font: 28px "Poppins-Light";
}

.bigger-text {
	font: 36px "Poppins-Light";
}

.center-text{
	text-align: center;
}

.color-red {
	color: #f96257;
}

.color-black {
	color: #000;
}

.color-white {
	color: #fff;
}

.bg-red {
	background: #f96257;
}

.bg-white {
	background: #fff;
}

.small-button {
	padding: 11px 35px;
	border-radius: 3px;
}

.small-button-wrapper{
	width: 173px;
}

.insert-block {
	padding-top: 120px;
	padding-bottom: 120px;
}

.block-element {
	display: block;
}

.top-margin {
	margin-top: 40px;
}

.clearfix::after {
	display: block;
	content: '';
	clear: both;
}

/* Section one */
.section-one {
	background: url(../img/bg.png) no-repeat center center;
}

/* Header */
.menu a {
	font: 14px "Poppins-Regular";
	color: #000;
}

.menu {
	text-align: right;
}

.menu li {
	display: inline-block;
	padding-left: 31px;
}

.header-logo, .header-menu {
	width: 685px;
	padding-top: 10px;
	padding-left: 10px;
}

.header-menu {
	float: right;
}

.header-logo {
	position: relative;
	float: left;
}

.strawberry-logo {
	position: absolute;
	top: 10px;
	left: 0;
}

.berryshop-logo {
	position: absolute;
	top: 29px;
	left: 50px;
}  

/* White button */
.purchase-now {
	padding-top: 732px;
	padding-bottom: 250px; 
}

/* Section two */
.garden-text {
	padding-top: 168px;
	padding-bottom: 50px;
}

.three-buttons {
	width: 852px;
}

.three-buttons a {
	font: 22px "Poppins-Light";
	display: inline-block;
	width: 271px;
	color: #fff;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 3px; 
}

.light-green {
	background: #d8da77;
	float: left;
}

.green {
	background: #a7ad27;
	margin: 0 19px;
}

.three-buttons a:last-child {
	float: right;
}


/* Section three */
.section-three .wrapper {
	padding-top: 105px;
}

.bg-strawberry {
	width: 843px;
}

.grey-block {
	background: #f7f7f7; 
}

/* Section-four */
.half-strawberry {
	padding-top: 120px;
	padding-right: 195px;
	text-align: right;
	position: relative;
}

/* Half of strawberry's grey pointers */
.grey-border {
	width: 200px;
	border-bottom: 5px solid #e7e7e7;
	position: absolute;
}

.border-one {
	bottom: 350px;
    left: 408px;	
}

.border-two {
	bottom: 260px;
    left: 370px;
}

.border-three {
	bottom: 170px;
    left: 450px;
}

/* Half of strawberry's signs */
div[class|="border"]::before {
	font: 22px 'Poppins-Regular';
	color: #f96257;
	position: absolute;
}

.border-one::before {
	content: 'Vitamin C';
	top: -15px;
	left: -120px;
}

.border-two::before {
	content: 'Manganese';
	top: -15px;
	left: -145px;
}

.border-three::before {
	content: 'Unsaturated Fatty Acids';
	top: -15px;
	left: -275px;
}

.benefits, .picture-coctail {
	width: 585px;
	float: left;
}

.benefits {
	padding: 200px 0;
}

.benefits ul {
	font: 14px/2.1 "Poppins-Light";
	padding-left: 0;
}

/* Section five */
.block-strawberry {
	background: url(../img/bg1-strawberry.png);
}

.img-wrapper {
	width: 713px;
}

.section-five .wrapper {
	padding-bottom: 90px;
} 

/* Section six (Footer) */
.section-six {
	background: #f7f7f7;
	padding-top: 50px;
	padding-bottom: 50px;
} 

.section-six p{
	line-height: 2;

}
.address, .phone {
	width: 285px;
	float: left;
}

.socials {
	width: 285px;
	float: right;
}

.socials p {
	text-align: right;
}

.socials p a {
	margin-left: 10px;
}


