html {
	font: 10px Tahoma, sans-serif;
	color: #000;
	text-align: center;
}

div {
	box-sizing: border-box;
	margin: 0 auto;
}

img {
	display: inline-block;
}

.container {
	width: 100%;

}

@media (min-width: device-width) {
	div {
		padding: 15px;
	}
}

/* Task1 */
@media (min-width: 1600px) {
	#wrapper-one {
		width: 1170px;
		font-size: 2rem;
		color: #ff0000;
	}
} 

/* Task2 */
@media (min-width: 1200px) and (max-width: 1600px) {
	#wrapper-two {
		width: 1170px;
		font-size: 1.6rem;
		color: #33cc33;
	}
}

/* Task3 */
@media (min-width: 992px) and (max-width: 1200px) {
	#wrapper-three {
		width: 970px;
		font-size: 1.4rem;
		color: purple;
	}
}

/* Task4 */
@media (min-width: 768px) and (max-width: 992px) {
	#wrapper-four {
		width: 750px;
		font-size: 1.6rem;
	}
}

/* Task5 */
@media (min-width: 320px) and (max-width: 768px) {
	#wrapper-five {
		width: viewport;
		font-size: 1.4rem;
		color: #ffff00;
	}
}
