.section-eleven {
	background-color: $greyLight2;
	.container {
		.header {
			text-align: center;
			color: $brown;
			text-transform: uppercase;
			font-size: 2.5em;
			@include marginTB(2em, 2em);
		}
		.form-container {
			.form-group {
				letter-spacing: 2px;
				.form-input {
					background-color: $greyLight2;
					border: none;
					border-bottom: 4px solid $black;
					box-shadow: none;
					border-radius: 0;
					margin-bottom: 1em;
				}
				.form-label {
					color: $greyLight;
					padding-left: 1em;
				}
			}
			.message-container {
				border-bottom: 1px solid $black;
				padding-bottom: 8.75em;
				margin-bottom: 3.1em;
				.form-message {
					width: 100%;
					background-color: $greyLight2;
					border: none;
					border-bottom: 4px solid $black;
					box-shadow: none;
					border-radius: 0;
					margin-bottom: 1em;
					&:focus {
						outline: none;
					}
				}
			}
		.btn-container {	
			margin-bottom: 5.1em;
				.btn {
					.submit {
						@extend %button;

					}
				}
			}
		}	
	}
}