.header-sect {
	background-color: $greyDark;
	position: fixed;
	z-index: 999;
	width: 100%;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0,.2);
	.logo-container {
		.logo {
			margin-top: 2.3em;
		}
	}
	.list-menu {
		font-size: 0.875em;
		float: right;
		border-bottom: none;
		@include marginTB(2.85em, 1.80em);
		.nav-item {
			@include paddingLR (1.5em, 1.5em);
			 .menu-item {
			 	cursor: pointer;
				color: $white;
				@include borderBottom($greyDark, 100%);
				background-color: $greyDark;
				border: none;
				&:hover {
					@include borderBottom($brown, 100%);
				}
				&:active {
					@include borderBottom($brown, 100%);
				}
				&:focus {
					@include borderBottom($brown, 100%);
				}
			 }

		}
	}
	
	@include tablet {
		position: static;
		.logo {
			@include marginLR(auto, auto);
		}
		.list-menu {
			float: none;
			text-align: center;
			.nav-item {
				@include paddingLR (2em, 1em);	
			}
		}
	}		

	@include phone {
		position: static;
		.logo {
			margin-bottom: 2.3em;
			margin-left: 1.5em;
		}
		.navbar-btn {
			@include marginTB(0, 0);
			.hamburger-container {
				color: $white;
				font-size: 2.3em;
				border: 1px solid $white;
				border-radius: 5px;
				@include paddingLR(10px, 10px);
				@include marginTB(20px, 10px);
			}
		}	
		#hamburger-menu {
			box-shadow: none;
			.list-menu {
				float: none;
				text-align: center;
				.nav-item {
					display: inline-block;
					width: 100%;
					@include paddingTB (0, 0);
					.menu-item {
						line-height: 0;
					&:active {
						@include borderBottom($brown, 15%);
					}
					&:focus {
						@include borderBottom($brown, 15%);
					}

					}
				}
			}
		}		
	}
}