body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

p {
	font-size: 16px;
}

a {
	text-decoration: none;
}

h2 {
	text-transform: uppercase;
}

.clearfix::after {
	display: block;
    content: "";
    clear: both;
} 

section {
	width: 100%;
}

/************* Section one **************/

#section-one {
	background: url(../img/bg.png) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.text-orange {
	color: #fb6b43;
}

.logo {
	font-size: 25px;
}

.logo a {
	color: #fff;
}

.logo a:hover {
	text-decoration: none;
	color: #fff;
}

.logo a:visited {
	text-decoration: none;
	color: #fff;
}

.logo a:active {
	text-decoration: none;
	color: #fff;
}

header .row {
	padding-top: 50px;
} 

nav .nav-bar {
	font-size: 24px;
	padding-left: 10px;
}

nav .nav-bar:hover {
	cursor: pointer;
}

 #section-one h1{
	font: 800 70px 'Open Sans', sans-serif;
	text-transform: uppercase;
	padding-top: 175px;
}

#section-one .descr-main {
	padding-left: 185px;
	padding-right: 185px;
	font: 400 25px 'Open Sans', sans-serif;
}

#section-one .btn-main {
	text-transform: uppercase;
	font: 600 16px 'Open Sans', sans-serif;
	min-width: 210px;
	color: #fff;
	background-color: transparent;	
}

#section-one .btn-main:hover {
	background-color: #fb6b43;
	border-color: #fb6b43;
}

.btn-main-container {
	padding-top: 65px;
	padding-bottom: 195px;
}

.arrow-down a{
	font-size: 40px;
	color: #fff;
}

.arrow-down a:hover{
	color: #fff;
}

.arrow-down {
	padding-bottom: 50px;
}

/************* Section two **************/
.circle-grey {
	border: 1px solid #cfd1d3;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 100px auto 30px auto;
}

.circle-grey img {
	margin: 45px auto;
	display: block;
}

.services-header {
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
}

.services-descr {
	font-size: 14px;
	text-align: center;
	padding: 0 45px;
}

.services {
	margin-bottom: 110px;
	color: #6c7279;
}

/************* Section three **************/
#section-three {
	background: url(../img/bg-2.png) center no-repeat;
	background-size: cover; 
}

#section-three .container {
	padding-top: 100px;
	padding-bottom: 100px;
} 

#section-three .email {
	width: 565px;
	padding: 20px 25px;
	font: 300 16px 'Open Sans', sans-serif;
	margin-right: 30px; 
}

#section-three .btn-subscribe {
	text-transform: uppercase;
	font: 600 16px 'Open Sans', sans-serif;
	width: 270px;
	color: #fff;
	background-color: #fb6b43;
	border: none;
}

/************* Section four **************/
.works h2  {
	margin-top: 100px;
	margin-bottom: 30px;
}

.subheader {
	margin-bottom: 100px;
}

.works__container div {
	border-radius: 10px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 30px;
	position: relative;

}

.works-img {
	opacity: 1;
  	display: block;
  	width: 100%;
  	height: auto;
}

.works-img:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease-in-out;
  background-color: rgba(247,96,14, .7);
}

.overlay h3 {
	font: 600 25px 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 90px 0 30px 0;
}

.overlay p {
	font-size: 14px;
	color: #fff;
	padding: 0 40px;
}

.overlay .btn-project {
	text-transform: uppercase;
	min-width: 200px;
	color: #f7600e;
	border-color: #fff;
	font: 600 16px 'Open Sans', sans-serif;
	border-radius: 10px;
	margin: 50px auto;
}

.overlay .btn-project:hover {
	color: #f7600e;
	border-color: #f7600e;
}

.works__container-one {
	background-image: url(../img/work-1.png);
}

.works__container-two {
	background-image: url(../img/work-2.png);
}

.works__container-three {
	background-image: url(../img/work-3.png);
}

.works__container-four {
	background-image: url(../img/work-4.png);
}

.works__container-five {
	background-image: url(../img/work-5.png);
}

.works__container-six {
	background-image: url(../img/work-6.png);
}

.show-more-container .btn-show-more {
	text-transform: uppercase;
	min-width: 200px;
	font: 600 16px 'Open Sans', sans-serif;
	border-radius: 10px;
	margin: 70px auto 100px auto;
}

/************* Section five **************/
.citatas {
	background: url(../img/bg-3.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}

.citatas p {
	font-size: 25px;
	color: #fff;
}

.citatas__img-wrapper {
	margin-top: 100px;
	margin-bottom: 50px;
}

.citata { 
	font-style: italic;
}

.citata-author {
	font-weight: 600;
	margin: 55px auto 100px auto;
}



@media (min-width: 992px) and (max-width: 1199px) {
	#section-one h1 {
		font-size: 60px;
	}

	#section-one .descr-main {
		font-size: 24px;
	}

	#section-one .btn-main {
		width: 190px;
	}

	.btn-main-container {
		padding-top: 65px;
		padding-bottom: 155px;
	}
	
	.services-descr {
		padding: 0 25px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#section-one nav {
		padding-right: 50px;
	}

	#section-one h1 {
		font-size: 45px;
		padding-top: 115px;
	}

	#section-one .descr-main {
		font-size: 20px;
		padding-left: 100px;
		padding-right: 100px;
	}

	#section-one .btn-main {
		width: 190px;
	}

	#section-one .btn-main {
		width: 190px;
	}

	.btn-main-container {
		padding-top: 50px;
		padding-bottom: 100px;
	}

	.services-descr {
		font-size: 14px;
		text-align: center;
		padding: 0 45px;
	}

	.services {
		margin-bottom: 0px;
	}

	.services:nth-child(3) {
		clear: left;
		margin-bottom: 100px;
	}

	.services:nth-child(4) {
		margin-bottom: 100px;
	}

	#section-three .email {
		width: 430px;
	}

	#section-three .btn-subscribe {
		width: 245px;
	}

	.works h2 {
		margin-top: 70px;
		margin-bottom: 30px;
	}

	.subheader {
		margin-bottom: 70px;
	}

	.overlay h3 {
		padding: 25px 0 15px 0;
	}

	.overlay .btn-project {
		margin-top: 10px;
	}
}



@media (min-width: 320px) and (max-width: 767px) {
	header .logo {
		text-align: left;
	}

	nav .nav-bar {
		font-size: 24px;
	}

	 #section-one h1{
		font-size: 48px;
		padding-top: 25px;
	}

	#section-one .descr-main {
		padding-left: 30px;
    	padding-right: 30px;
    	font: 400 21px/1.5 'Open Sans', sans-serif;
	}

	#section-one .btn-container {
		text-align: center;
		margin-bottom: 20px;
	}

	.btn-main-container {
		padding-top: 45px;
		padding-bottom: 40px;
	}

	.services {
    	margin-bottom: 50px;
	}

	.circle-grey {
		margin-top: 75px;
	}

	#section-three .container {
		padding-top: 50px;
		padding-bottom: 50px;
	} 

	#section-three .email {
		width: 285px;
		font-size: 14px;
		margin-right: 0; 
		margin: 0 auto 25px auto;
		padding: 20px;
	}

	#section-three .btn-subscribe {
		width: 245px;
		font-size: 14px;
	}

	.works h2 {
		margin-top: 40px;
		margin-bottom: 15px;
	}

	.subheader {
		margin-bottom: 30px;
	}

	.overlay h3 {
		padding: 20px 0 10px 0;
	}

	.overlay .btn-project {
		margin-top: 10px;
	}

	.show-more-container .btn-show-more {
		margin-bottom: 25px;
		margin-top: 0;
	}

	.citatas p {
		font-size: 20px;
	}

	.citatas__img-wrapper {
		margin-top: 50px;
		margin-bottom: 25px;
	}

	.citata-author {
		margin: 25px auto 50px auto;
	}
}