@font-face {
	font-family: 'Poppins-Light';
	src: local('Poppins-Light'), url('Poppins-Light.ttf');
}

@font-face {
	font-family: 'Poppins-Regular';
	src: local('Poppins-Regular'), url('Poppins-Regular.ttf');
}