
div {
	box-sizing: border-box;
}

h1, h2, p, li, div {
	margin: 0 auto;
}

h2 {
	font: 48px GothamProMedium;
	text-align: center;
}

div[class|="section"] {
	width: 100%;
}


/* Blue block */
.section-first {
	background: url(../img/bg.png) center center no-repeat;
}

.wrapper {
	width: 1173px;
}

.wrapper div {
	text-align: center;
}


/* Center content */
.top-header {
	padding-top: 100px;
}

.top-header h1 {
	font: 60px GothamProBold;
	color: #fff;
}

.top-header p {
	font: 30px GothamProRegular;
	color: #fff;
}


/* Right-side content */
.bottom-header {
	display: inline-block;
	padding: 140px 115px 315px 600px;
}

.bottom-header p {
	text-align: left;
}

.blue {
	font: 42px GothamProMedium;
	color: #b6f1ff;
	padding-bottom: 70px;
}

.white {
	font: 30px/40px GothamProRegular;
	color: #fff;
	padding-bottom: 75px;
}


/* Red button */
.red-btn {
	background: #ff1744;
	width: 350px;
	padding: 25px 30px;
	margin: 0;
	border-radius: 5px;
	box-shadow:  inset 0 -3px 3px rgba(0,0,0,0.3);
} 

.red-btn a {
	text-decoration: none;
	text-transform: uppercase;
	font: 24px GothamProBlack;
	color: #fff;
}


/* White block */
.section-second {
	background: #fff;
}

.ten-reasons {
	margin: 70px auto;
}

 .section-second ul {
 	list-style: none;
 	display: initial;
 }

 .section-second ul>span {
 	text-align: center;
 }

 .section-second li {
 	float: left;
 	width: 220px;
 	padding: 36px;
 }

  ul:last-child {
  	padding-right: 0;
  }
  
  ul:first-child {
  	padding-left: 0;
  }

 .bold-text {
 	font: 20px GothamProMedium;
 } 

 .text {
 	font: 20px GothamProLight;
 }

 div[class|="icon"] {
	width: 80px;
	height: 80px;
 }

 div[class|="row"] {
	display: inline-block;
 }

.empty {
	visibility: hidden;
}

 .row-third {
 	margin-bottom: 70px;
 }

 .icon-1_1 {
	background: url(../img/sprite.png) 267px -7px;
 }

 .icon-1_2 {
	background: url(../img/sprite.png) 360px -7px;
 }

.icon-1_3 {
	background: url(../img/sprite.png) 185px -7px;
 }

 .icon-1_4 {
	background: url(../img/sprite.png) -4px -7px;
 }

 .icon-2_1 {
	background: url(../img/sprite.png) 186px -113px;
 }

 .icon-2_2 {
	background: url(../img/sprite.png) 275px -113px;
 }

 .icon-2_3 {
	background: url(../img/sprite.png) 359px -106px;
 }

 .icon-2_4 {
	background: url(../img/sprite.png) -9px -109px;
 }

 .icon-3_1 {
	background: url(../img/sprite.png) 102px -8px;
 }

 .icon-3_2 {
	background: url(../img/sprite.png) 102px 90px;
 }


/* Grey block */
.section-third {
	background: #f5f5f5;
}

.soon {
	padding-top: 75px;
}

.section-third h2+p {
	text-align: center;
	font: 24px GothamProLight;
}

.event {
	border-bottom: 1px solid #cfd8dc;
	overflow: hidden;
}

.event:last-child {
	border-bottom: none;
}

img[alt^="event"] {
	width: 383px;
	height: 523px;
}

h3 {
	font: 48px GothamProRegular;
}

.bigger {
	font: 24px GothamProLight;
	padding-bottom: 60px;
}

.smaller {
	font: 18px GothamProLight;
	padding-bottom: 45px;
}

div[class^="description"] {
	width: 590px;
	margin: 70px 0;
}


/* Image is on left side */ 
.coverR, .descriptionR {
	float: left;
}

.descriptionR>.header, .descriptionR>p {
	text-align: left;
}

.coverR {
	margin: 70px 100px;
}


/* Image is on right side */
.coverL, .descriptionL {
	float: left;
}

.descriptionL>.header, .descriptionL>p {
	text-align: right;
}

.coverL {
	margin: 70px 100px;
}


/* Block fourth (white) */
.section-fourth {
	background: #fff;
}

.section-fourth div {
	padding-top: 80px;
	padding-bottom: 80px;	
}

.red-arrow {
	font: 36px GothamProMedium;
	color: #fff;
	background: #ff1744;
	border-radius: 7px;
	padding: 15px 38px;
	position: relative;
}

.triangle {
	position: absolute;
	bottom: -30px;
	left: 62px;
	border: 20px solid transparent;
	border-top: 20px solid #ff1744;
}

.block-right .triangle{
	left: 68px;
} 

.block-left, .block-right {
	width: 586px;
	float: left;
}

.bold-text {
	font: 20px GothamProMedium;
	padding-top: 53px;
	padding-bottom: 38px;
}

.normal-text {
	font: 18px GothamProLight;
	margin-bottom: 20px;
}

.block-center a {
	text-transform: uppercase;
	text-decoration: none;
	font: 18px GothamProBold;
	color: #ff1744;
	border: 3px solid #ff1744;
	border-radius: 5px;
	padding: 20px 30px;
}


/* Block five (grey) */
.section-fifth {
	background: #fafafa;
	position: relative;
}

.baloon {
	position: absolute;
	top: -100px;
	left: 105px;
}

.section-fifth .header-description {
	font: 24px GothamProLight;
	text-align: center;
}

.present {
	position: absolute;
	top: 80px;
	right: 135px;
	font: 18px GothamProMedium;
	color: #fff;
	background: #ff1744;
	padding: 13px 18px;
	border-radius: 5px; 
}

.present::before {
	content: '';
	border: 20px solid transparent;
	border-right: 20px solid #ff1744;
	position: absolute;
	top: 3px;
	left: -27px;
}

.section-fifth .description {
	font: 18px GothamProLight;
	text-align: center;
}

.section-fifth .wrapper {
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
}

.miracles {
	display: block;
	margin: 80px auto;
}

.bottom-text p {
	padding-bottom: 45px; 
 	font: 24px GothamProMedium; 
}

.bottom-text p:last-child {
	padding-bottom: 0;  
}


/* Block six (white) */
.section-sixth {
	background: #fff;
}

.section-sixth h2 {
	padding-bottom: 80px;
}

.section-sixth .wrapper {
	padding-top: 80px;
	padding-bottom: 80px;	
	border-bottom: 1px solid #cfd8dc;
}

iframe {
	display: block;
	margin: 0 auto;
}


/* Block seven (white) */
.section-seventh {
	background: #fff;
}

.section-seventh h2 {
	padding-top: 80px;
	padding-bottom: 80px;
}

div[class|="tab"] {
	display: inline-block;
	text-align: center;
}

.variants {
	padding: 0 63px;
	border-bottom: 1px solid #cfd8dc;
}

div[class|="tab"] {
	margin-right: 100px;
	padding-bottom: 30px;
}

div[class|="tab"] p {
	font: 18px GothamProLight;
}

div[class|="tab"]:last-child {
	margin-right: 0;
}

div[class|="img"] {
	width: 110px;
	height: 130px;
}

.img-1 {
	background: url(../img/sprite2.png) -100px -5px;
}

.img-2 {
	background: url(../img/sprite2.png) -300px -22px;
}

.img-3 {
	background: url(../img/sprite2.png) -190px -12px;
}

.img-4 {
	background: url(../img/sprite2.png) -5px -12px;
}

.active-tab{
	border-bottom: 5px solid #ff1744;
 	border-radius: 5px;
}

#active {
 	font: 18px GothamProMedium;	
}


/* Block eight (white) */
.section-eighth>.wrapper>div {
	padding: 80px 40px;
}

.picture {
	height: 540px;
	margin-top: 80px;
	clear: left;
}

.event-header {
	font: 48px GothamProRegular;
	text-align: left;
}

.event-description li {
	font: 18px GothamProLight;
	color: #ff1744; 
	list-style-type: disc;
	text-align: left;
	padding: 45px 25px;
	padding-bottom: 0;
}

.event-description>li>span {
	color: #000;
}

.picture, .txt {
	width: 545px;
	float: left;
}

.quick-start>.picture {
	background: url(../img/quick_start.png) no-repeat 156px 0;
}


/* Full reset block (hidden) */
.full-reset {
	display: none;
}

.full-reset>.picture {
	background: url(../img/brain.png) no-repeat 105px 0;
}


/* Family block (hidden) */
.family-block {
	display: none;
}

.family-block>.picture {
	background: url(../img/family.png) no-repeat 90px 0;
}


/* All-included block (hidden) */
.all-included {
	display: none;
}

.all-included>.picture {
	background: url(../img/all_included.png) no-repeat 40px 0;
}	




